/* Set size of html and body to full page size */
html, body {
    height: 100%;
    background-color: rgb(195, 150, 150);
    margin: 0;
}

/* Wrapper for header, main, and footer */
.all-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
}

/* Align header to center of page */
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0;
}

/* Align navigation to center of page */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Display navigation links horizontal */
nav * {
    display: inline;
    padding-left: 0;
}

main {
    flex: 1;
}

footer {
    background-color: white;
    padding: 1vw;
    text-align: center;
}

table {
    width: 100%;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-collapse: collapse;
}

th {
    height: 30px;
    border-style: solid;

}

td {
    border-style: solid;
}